delivery.license
chefautomate-validator.pem
delivery-admin.creds
delivery-user.pem
delivery.creds
.vagrant
terraform.tfstate*
terraform.tfvars
vendored-cookbooks
*.log
cloudformation/*.json
keys/*
packer/keys/*
generator_files/keys/*
*.lock
infranodes-info.json
output
bootstrap-aws.txt
*.gem
stacks/*
.envrc
.direnv
.ruby-version